body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: azure;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    margin-top: 10px;
    width: 70%;
    border: 1px solid rgb(18, 85, 63);
}

.header {
    background-color: rgb(18, 85, 63);
    padding: 10px 20px;
}

.title{
    margin: 0;
    font-size: 24px;
    color: white;
}

.main {
    padding: 20px 0;
}

.main_next {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin: 0;
}

.main_results {
    display: flex;
    justify-content: space-evenly;
}

.main_x {
    font-weight: bold;
    font-size: 35px;
    color: rgb(10, 187, 49);
}

.main_o {
    color: rgb(203, 10, 10);
    font-weight: bold;
    font-size: 35px;
}

.game {
    margin: 0 auto;
    padding: 30px 0;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
}

.game_item {
    border-collapse: collapse;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin: 0 auto;
    max-width: 300px;
    display: flex;
    gap: 10px;
}

.btn{
    flex: 1 1;
    white-space: nowrap;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 16px;
    background-color: rgb(18, 85, 63);
    color: white;
    border: none;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}

.win{
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    text-transform: uppercase;
    display: none;
}

@media (max-width: 768px) {
    .game {
        grid-template-columns: repeat(3,50px);
        grid-template-rows: repeat(3,50px);
    }

    .win{
        font-size: 50px;
    }

    .button{
        flex-direction: column;
    }

    .btn{
        width: 70%;
    }
}