body{
    margin: 0;
    padding: 0;
    background-color: azure;
}

.wrap {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 70%;
    border: 1px solid rgb(18, 85, 63);
}

.header {
    background-color: rgb(18, 85, 63);
    padding: 10px 20px;
}

.title{
    margin: 0;
    font-size: 24px;
    color: white;
}

.main {
    padding: 20px 0;
}

.main_next {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.main_results {
    display: flex;
    justify-content: space-evenly;
}

.main_x {
    font-weight: bold;
    font-size: 35px;
    color: rgb(10, 187, 49);
}

.main_draw {
    font-weight: bold;
    font-size: 35px;
}

.main_o {
    color: rgb(203, 10, 10);
    font-weight: bold;
    font-size: 35px;
}

.game {
    margin: 0 auto;
    padding: 30px 0;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.game_item {
    width: 100px;
    height: 100px;
    border-collapse: collapse;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    margin: 0 auto;
    padding: 10px 40px;
    font-size: 16px;
    background-color: rgb(18, 85, 63);
    color: white;
    border: none;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}